<!doctype html>
<html th:replace="~{layout/base :: base(~{fragments/headerItems :: chatting}, ~{::div})}"
      xmlns:th="http://www.thymeleaf.org">

<div id="name-from" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="chatting-container">
                <div class="card chattingroom">
                    <div class="card-header">
                        <!--   글 정보  -->
                        <div class="post-info">
                            <div class="post-thumbnail"><img
                                    src="https://vrthumb.imagetoday.co.kr/2018/07/19/tid269t000652.jpg"></div>
                            <div class="post-title" th:text="${post.title}"></div>
                        </div>

                        <!--   약속 잡기 버튼   -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#appointmentModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-calendar-check" viewBox="0 0 16 16">
                                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            약속잡기
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="chatMessage-container">

                        </div>
                        <div class="input-group">
                            <input type="hidden" id="postId" th:value="${post.id}">
                            <input type="hidden" id="chatRoomId" th:value="${roomId}">
                            <input type="hidden" id="memberId" th:value="${loggedMemberId}">
                            <input type="hidden" id="writerId" th:value="${writerId}">
                            <input type="text" placeholder="메시지를 입력하세요" id="message" autofocus class="form-control">
                            <div class="input-group-append">
                                <button class="btn send-btn" id="send">전송</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 약속잡기 팝업창 -->
<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-center fs-5" id="appointmentModalModalLabel">약속 잡기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="registrationForm">
                    <div class="modal-container">
                        <p class="sub-title">제목</p>
                        <div class="post-title" th:text="${post.title}"></div>
                        <input type="hidden" name="postId" th:value="${post.id}">
                        <input type="hidden" name="writerId" th:value="${post.writer.id}">
                        <input type="hidden" name="memberId" th:value="${loggedMemberId}">
                    </div>
                    <div class="modal-container">
                        <p class="sub-title">약속 날짜</p>
                        <p><input type="date" id="appoint-date" class="appoint-date"/></p>
                    </div>

                    <div class="modal-container">
                        <p class="sub-title">약속 시간</p>
                        <input type="time" id="appoint-time" class="appoint-time"/>
                        <input type="hidden" id="dateTime" name="dateTime">
                    </div>

                    <div class="modal-container">
                        <p class="sub-title">수량</p>
                        <input type="number" id="appointmentQuantity" class="appointmentQuantity"/>
                    </div>

                    <button type="button" class="btn btn-primary appoint-btn">등록</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
    var stompClient=null
    roomId = [[${roomId}]]
    chatList =  [[${chatList}]]

    memberId = $("#memberId").val();

    window.onload = function(){
        connect(roomId);

        var length = $(".chatMessage-container").children().length;
        if(length < 1){
            $(".chatMessage-container").append('<div class="chatMessage-empty"><div class="empty-message">메시지 내역이 없습니다 ✉</div></div>');
        }else{
            $(".chatMessage-empty").hide();
        }
    }

    window.BeforeUnloadEvent = function(){
        disconnect();
    }

    window.onpageshow = function(event) {
        if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            window.location.reload();
        }
    }

    function connect(reqRoomId) {
        let socket=new SockJS("/ws")

        roomId = reqRoomId;

        stompClient = Stomp.over(socket)

        stompClient.connect({},function(frame){
            console.log("Connected : "+frame)
            roomId = roomId.toString()
            loadChat(chatList)

            stompClient.subscribe("/room/"+ roomId, function(chatMessage){
                showChatMessage(JSON.parse(chatMessage.body))

                var length = $(".chatMessage-container").children().length;

                if(length < 1){
                    $(".chatMessage-container").append('<div class="chatMessage-empty"><div class="empty-message">메시지 내역이 없습니다 ✉</div></div>');
                }else{
                    $(".chatMessage-empty").hide();
                }
            })
        })
    }

    function disconnect(){
        if(stompClient !== null){
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnect");
    }

    function sendChatMessage(){

        console.log('채팅방 메시지 보내지는지')
        roomId = $("#chatRoomId").val()

        var length = $(".chatMessage-empty").children().length;

        let jsonOb={
            chatRoomId : $("#chatRoomId").val(),
            sender : $("#memberId").val(),
            message:$("#message").val()
        }

        stompClient.send("/app/"+ roomId,{},JSON.stringify(jsonOb));

        $("input#message").val('');
     }

     function loadChat(chatList){
        var length = $(".chatMessage-container").children().length;

        if(length < 1){
              $(".chatMessage-container").append('<div class="chatMessage-empty"><div class="empty-message">메시지 내역이 없습니다 ✉</div></div>');
        }else{
              $(".chatMessage-empty").hide();
        }

        if(chatList != null){
            for(var i in chatList){
                var memberId = $("#memberId").val();
                var containerTag = ''
                if(memberId == chatList[i].sender){
                    containerTag = '<div class="chat-container blue">'
                }else{
                    containerTag = '<div class="chat-container gray">'
                }

                const dateTimeString = chatList[i].sendDate;
                const date = new Date(dateTimeString);
                const sendDate = date.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/:\d{2}$/, '');

                $(".chatMessage-container").append( containerTag +'<p class="card-text">'+chatList[i].message +'</p><p style="text-align: end;" class="card-text">'+sendDate+'</p></div>')
            }
        }
     }

     function showChatMessage(chatMessage){

        console.log("타입"+typeof(chatMessage))
        console.log("날짜" + chatMessage.sendDate);

        const dateTimeString = chatMessage.sendDate;
        const date = new Date(dateTimeString);
        const sendDate = date.toISOString().replace(/T/, ' ').replace(/\..+/, '').replace(/:\d{2}$/, '');

        $(".chatMessage-container").append(`<div class="chat-container"><p class="card-text">${chatMessage.message}</p><p style="text-align: end;" class="card-text">${sendDate}</p>`)

        var memberId = $("#memberId").val();

        var element = document.getElementById("chatMessage-container");

        if(memberId == chatMessage.sender){
               $('.chat-container:last-child').addClass( 'blue' );
         }else{
                $('.chat-container:last-child').addClass( 'gray' );
        }
    }

    function showModal() {
        $('#staticBackdrop').slideDown(1200);
    }

    function hideModal() {
        $('#staticBackdrop').hide();
    }

    <!-- 약속 잡기 버튼 클릭 시 -->
    $(".appoint-btn").click(function(){
        const memberId = $('#memberId').val()
        const postId = $('#postId').val()
        const appointmentQuantity = $('#appointmentQuantity').val()

        <!-- 약속 날짜-->
        const dateValue = $('#appoint-date').val()
        <!-- 약속 시간-->
        const timeValue = $('#appoint-time').val()
        <!--  약속 날짜,시간 병합 -->
        const dateTimeString = dateValue + ' ' + timeValue + ':00';

        document.getElementById('dateTime').value = dateTimeString;

        const dateTimeValue = $('#dateTime').val()

        const data = {
           postId : postId,
           memberId : memberId,
           dateTime: dateTimeValue,
           appointmentQuantity : appointmentQuantity
        };

        $.ajax({
            url : "/appointments/new",
            data : data,
            type : "POST",
            success : function (data){
                alert(data)
                $('#appointmentModal').modal('hide')
            }
        });
    })


    $(function(){
        $("#send").click(function(){
            sendChatMessage();
        })
     })

    </script>
</div>
</html>