<!DOCTYPE html><html th:replace="~{layout/base :: base(~{fragments/headerItems :: myPage}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">

<div class="mypage-container"><br>
    <div id ="root" th:object="${mypage}">
        <h2 class="page-title">마이페이지</h2>

        <div class="profile-container">
            <div class="nickname"><span th:text="*{nickname}"></span><span class="greeting">님, 안녕하세요</span></div>
            <div class="d-flex justify-content-between">
                <div><button class="editBtn" th:onclick="|location.href='@{/members/edit}'|"><i class="fa fa-pencil" aria-hidden="true"></i> 프로필 수정</button></div>
                <div><button class="btn btn-success" th:onclick="|location.href='@{/posts/add}'|"> 글쓰기</button></div>
            </div>
        </div>

        <div class="keywords-container">
            <div class="sub-title">관심 키워드 목록</div>
            <div class="keywordList">
                <div class="keyword-item" th:each="category : ${mypage.favoriteCategories}">
                    <span th:text="${category.categoryName}"></span>
                    <button class="favorite styled" type="button" th:categoryId=${category.id}  th:onclick="removeFavoriteCategory(this.getAttribute('categoryId'))">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="addFavoriteBtn-Container">
                <a class="addFavoriteBtn" th:href="@{/favorites/new}">관심 카테고리 등록</a>
            </div>
        </div>

        <div class="appointments-container">
            <div class="sub-title">약속 목록</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">거래명</th>
                    <th scope="col">거래자명</th>
                    <th scope="col">거래수량</th>
                    <th scope="col">약속날짜</th>
                    <th scope="col">거래상태</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment : ${mypage.appointments}">
                    <td class="appointment-title"><a th:href="@{/chat/{roomId}(roomId = ${appointment.chatRoom.id})}"><span th:text="${appointment.post.title}"></span></a></td>
                    <th:block th:if="${appointment.wanted.id == member.id}">
                        <td th:text="${appointment.post.writer.nickname}" scope="row"></td>
                    </th:block>
                    <th:block th:if="${appointment.wanted.id != member.id}">
                        <td class="appointment-nickname" th:text="${appointment.wanted.nickname}" scope="row"></td>
                    </th:block>
                    <td class="appointment-quantity" th:text="${appointment.appointmentQuantity}" scope="row"></td>
                    <!-- ${#dates.format(item.createDt, 'yyyy-MM-dd HH:mm:ss')}-->
                    <td th:text="${#temporals.format(appointment.timestamp,'yyyy-MM-dd')}"></td>
                    <th:block th:switch="${appointment.progress.toString()}">
                        <td class="appointment-progress" th:case="RESERVING" th:text="예약완료"></td>
                        <td class="appointment-progress" th:case="CANCEL" th:text="예약취소"></td>
                        <td class="appointment-progress" th:case="DONE" th:text="전달완료"></td>
                    </th:block>

                    <td>
                        <th:block th:if="${appointment.progress.toString().equals('RESERVING')}">
                            <button class="appointment-complete-btn" th:if="${appointment.wanted.id == member.id}"  type="button" th:appointment=${appointment.id}  th:onclick="completeAppointment(this.getAttribute('appointment'))">전달 완료</button>
                            <button class="appointment-cancel-btn styled" type="button" th:appointment=${appointment.id}  th:onclick="cancelAppointment(this.getAttribute('appointment'))">약속 취소</button>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="appointment-list-btn" type="button"  th:onclick="|location.href='@{/appointments/list}'|">전체 약속 보기</button>
        </div>

        <div class="posts-container">
            <div class="sub-title">내가 쓴 글 목록</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${mypage.posts}">
                    <td th:text="${post.id}" scope="row"></td>
                    <td><a th:href="@{/posts/{postId}(postId = ${post.id})}"><span th:text="${post.title}"></span></a></td>
                    <td th:text="${post.content}"></td>
                    <!-- ${#dates.format(item.createDt, 'yyyy-MM-dd HH:mm:ss')}-->
                    <td th:text="${#temporals.format(post.timestamp,'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
            <button class="post-list-btn" type="button" th:onclick="|location.href='@{/posts/list}'|">전체 글 보기</button>
        </div><script th:inline="javascript" th:src="@{/js/members/myPage.js}"></script>
    </div><br><br>
</div>
</html>