<!doctype html><html th:replace="~{layout/base :: base(~{fragments/headerItems :: appointmentList}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<div class="appointments-container">
    <div id="root">
        <div class="sub-title">약속 목록</div>
        <div class="table-container">
            <table class="table postList">
                <thead>
                <tr>
                    <th scope="col table-header title">거래명</th>
                    <th scope="col">해당 글 링크</th>
                    <th scope="col table-header nickname">거래자명</th>
                    <th scope="col table-header appointmentQuantity">거래수량</th>
                    <th scope="col table-header appointmentDate">약속날짜</th>
                    <th scope="col table-header appointmentStatus">거래상태</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="appointment : ${appointments}">
                    <td><a th:href="@{/chat/{roomId}(roomId = ${appointment.chatRoom.id})}"><span th:text="${appointment.post.title}"></span></a></td>
                    <td class="appointment-link"><a th:href="@{/posts/{postId}(postId = ${appointment.post.id})}" target="_blank">🔗</a></td>
                    <th:block th:if="${appointment.wanted.id == member.id}">
                        <td th:text="${appointment.post.writer.nickname}" scope="row"></td>
                    </th:block>
                    <th:block th:if="${appointment.wanted.id != member.id}">
                        <td th:text="${appointment.wanted.nickname}" scope="row"></td>
                    </th:block>
                    <td th:text="${appointment.appointmentQuantity}" scope="row"></td>
                    <!-- ${#dates.format(item.createDt, 'yyyy-MM-dd HH:mm:ss')}-->
                    <td th:text="${#temporals.format(appointment.timestamp,'yyyy-MM-dd')}"></td>
                    <td>
                        <th:block th:switch="${appointment.progress.toString()}">
                            <span class="appointment-progress" th:case="RESERVING" th:text="예약완료"></span>
                            <span class="appointment-progress" th:case="CANCEL" th:text="예약취소"></span>
                            <span class="appointment-progress" th:case="DONE" th:text="전달완료"></span>
                        </th:block>
                    </td>
                    <td>
                        <th:block th:if="${appointment.progress.toString().equals('RESERVING')}">
                                <button  th:if="${appointment.wanted.id == member.id}" class="appointment-complete-btn complete styled" type="button" th:appointment=${appointment.id}  th:onclick="completeAppointment(this.getAttribute('appointment'))">전달 완료</button>
                                <button class="appointment-cancel-btn styled" type="button" th:appointment=${appointment.id}  th:onclick="cancelAppointment(this.getAttribute('appointment'))">약속 취소</button>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="page navigation" class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item previous" th:classappend="${1 == appointments.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/posts/list(page=${appointments.pageable.pageNumber - 1})}" href="#">이전</a>
                </li>
                <li class="page-item page-num" th:classappend="${i == appointments.pageable.pageNumber + 1} ? 'disabled'" th:each="i: ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" href="#" th:href="@{/appointments/list(page=${i - 1})}" th:text="${i}"></a></li>
                <li class="page-item next" th:classappend="${appointments.totalPages == appointments.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{/appointments/list(page=${appointments.pageable.pageNumber + 1})}">다음</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
