<!doctype html><html th:replace="~{layout/base :: base(~{fragments/headerItems :: favoriteCategoryPage}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">

<div class="category-container">
    <div id ="root" >
        <h2 class="page-title">관심 카테고리 등록 페이지</h2>
        <div>
            <form role="form" th:action="@{/favorites/new}" method="post">
                <div class="categoryForm-container">

                    <select class="form-control" id="parentCategory" required name="parentId" th:onchange="onChangeTest(this)">'
                        <option value="">대분류</option>
                        <div th:each="category : ${categories}">
                            <option class="optionGroup"  th:text="${category.categoryName}" th:value="${category.id}"></option>
        <!--                    <option  class="optionChild" th:each="subCategory : ${category.subCategories}"  th:text="${subCategory.name}" th:value="${subCategory.id}"></option>-->
                        </div>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="childrenId" id="secondCategory" >
                        <option disabled="disabled" selected="selected" > 중분류</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary registerBtn">등록</button>
            </form>

    </div>
    </div><script th:inline="javascript" th:src="@{/js/category/newFavoriteCategory.js}"></script>
</div>
</html>
