<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>여기있소!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/font.css}" rel="stylesheet" />
    <link th:href="@{/css/member/mypage.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="mypage-container">
    <div id ="root" th:object="${mypage}">
        <h2 class="page-title">마이페이지</h2>

        <div class="profile-container">
            <div class="nickname"><span th:text="*{nickname}"></span><span class="greeting">님, 안녕하세요</span></div>
            <div class="d-flex justify-content-between">
                <div><button class="editBtn" th:onclick="|location.href='@{/members/edit}'|"><i class="fa fa-pencil" aria-hidden="true"></i> 프로필 수정</button></div>
                <div><button class="btn btn-success" th:onclick="|location.href='@{/posts/add}'|"> 글쓰기</button></div>
            </div>
        </div>

        <div class="keywords-container">
            <div class="sub-title">관심 키워드 목록</div>
            <div class="keywordList">
                <div class="keyword-item" th:each="category : ${mypage.favoriteCategories}">
                    <span th:text="${category.categoryName}"></span>
                    <button class="favorite styled" type="button" th:categoryId=${category.id}  th:onclick="removeFavoriteCategory(this.getAttribute('categoryId'))">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="addFavoriteBtn-Container">
                <a class="addFavoriteBtn" th:href="@{/favorites/new}">관심 카테고리 등록</a>
            </div>
        </div>

        <div class="appointments-container">
            <div class="sub-title">약속 목록</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">거래명</th>
                    <th scope="col">거래자명</th>
                    <th scope="col">날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>냉장고 거래</td>
                    <td>한혜진</td>
                    <td>2023-01-28</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>세탁기 거래</td>
                    <td>송중기</td>
                    <td>2023-01-28</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>튀김기 거래</td>
                    <td>박보영</td>
                    <td>2023-01-28</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="posts-container">
            <div class="sub-title">내가 쓴 글 목록</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">작성일</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${mypage.posts}">
                        <td th:text="${post.id}" scope="row"></td>
                        <td><a th:href="@{/posts/{postId}(postId = ${post.id})}"><span th:text="${post.title}"></span></a></td>
                        <td th:text="${post.content}"></td>
                        <!-- ${#dates.format(item.createDt, 'yyyy-MM-dd HH:mm:ss')}-->
                        <td th:text="${#temporals.format(post.timestamp,'yyyy-MM-dd')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function removeFavoriteCategory(id){
        var result = confirm("삭제하시겠습니까?");

        if(result){
            var categoryId = id
            const data = {
                categoryId : categoryId
            }

            $.ajax({
                url: "/favorites/delete/"+ id,
                data : data,
                type: "POST",
            }).done(function (data){
                alert('삭제되었습니다')
                location.reload();
            });
        }
    }
</script>
</body>
</html>
