<!doctype html><html th:replace="~{layout/base :: base(~{fragments/headerItems :: postList}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<div class="posts-container">
    <div id="root">
        <div class="d-flex justify-content-between">
            <div class="sub-title">내가 쓴 글 목록</div>
            <div class="btn-container">
                <button class="btn btn-info write-btn" th:onclick="|location.href='@{/posts/add}'|">글쓰기</button>
            </div>
        </div>
        <div class="table-container">
            <table class="table postList">
                <thead>
                <tr>
                    <th scope="col table-header title">제목</th>
                    <th scope="col table-header content">내용</th>
                    <th scope="col table-header date">작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td><a th:href="@{/posts/{postId}(postId = ${post.id})}"><span th:text="${post.title}"></span></a>
                    </td>
                    <td th:text="${post.content}"></td>
                    <!-- ${#dates.format(item.createDt, 'yyyy-MM-dd HH:mm:ss')}-->
                    <td class="date" th:text="${#temporals.format(post.timestamp,'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="page navigation" class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item previous" th:classappend="${1 == posts.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/posts/list(page=${posts.pageable.pageNumber - 1})}" href="#">이전</a>
                    </li>
                    <li class="page-item page-num" th:classappend="${i == posts.pageable.pageNumber + 1} ? 'disabled'" th:each="i: ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link" href="#" th:href="@{/posts/list(page=${i - 1})}" th:text="${i}"></a></li>
                    <li class="page-item next" th:classappend="${posts.totalPages == posts.pageable.pageNumber + 1} ? 'disabled'">
                        <a class="page-link" href="#" th:href="@{/posts/list(page=${posts.pageable.pageNumber + 1})}">다음</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
</body>
</html>
