<!doctype html><html th:replace="~{layout/base :: base(~{fragments/headerItems :: post}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">

<div class="container">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary align-self-center" th:text="${post.category.categoryName}">업종</button>
    </div><br>

    <div class="d-flex justify-content-center">
        <h5 th:text="${post.title}">제목</h5>
    </div><br>

    <div class="row">
        <p class="col-4 text-start" th:text="${#temporals.format(post.timestamp, 'yyyy년 MM월 dd일 HH:mm')}">작성일시</p>
        <p class="col-4 text-center" th:text="${post.writer.nickname}">닉네임</p>
        <p class="col-4 text-end">남은 수량 : [[${post.quantity}]] / 예약 수량 : [[${post.reservationQuantity}]]</p>
    </div><br>

    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal">
            <div th:each="image : ${post.images}">
                <li class="list-group-item"><img th:src="@{/images/{img}(img=${image.storedFilename})}" style="width: 300px; height: 300px; border: 2px solid red" /></li>
            </div>
        </ul>
    </div><br><br>

    <h4 class="d-flex justify-content-center">내용</h4>
    <div class="d-flex justify-content-center">
        <div th:text="${post.content}" style="width: 750px; border: 2px solid yellow;">
            내용
        </div>
    </div><br><br>

    <h4 class="d-flex justify-content-center">위치</h4>
    <p class="d-flex justify-content-center text-center" th:text="|${post.address.doro}|">주소</p><input type="hidden" id="juso" th:value="${post.address.doro}">

    <div class="d-flex justify-content-center">
        <div id="map" style="width: 600px; height: 500px; border: 2px solid green"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f1ad9b5adce2cf7e772b667dde656195&libraries=services"></script>
        <script th:inline="javascript" th:src="@{/js/post/postKakaoMap.js}"></script>
    </div><br>

    <div class="d-flex justify-content-center">
        <p class="me-2" th:text="|❤ ${post.recommend}|">추천수</p>
        <button th:onclick="updateRecommend()">추천하기</button>
    </div><br><br>

    <p class="d-flex justify-content-center text-center">조회수 : [[${post.views}]]</p><br><br>

    <th:block th:if="${member.id == post.writer.id}">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary me-2" th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|" type="button">수정</button>
        </div>
    </th:block>
    <th:block th:if="${member.id != post.writer.id}">
        <div class="d-flex justify-content-end">
            <form method="POST" th:action="@{/chatroom/new}">
                <input type="hidden" name="postId" th:value=${post.id}>
                <button style="background: #3285ED; padding: 1vw 3vw; color: white;" class="btn chat-btn me-2" type="submit">문의하기</button>
            </form>
        </div>
    </th:block>
    <br><br>
</div>
<script>
    function createChatRoom(){
        postId : [[${post.id}]]
        data = {
            postId : [[${post.id}]]
        }
        $.ajax({
            url: "/chatroom/",
            type: "POST",
            data: data,
            success: function(result){
                console.log("리스폰스"+result)
                window.location.href="/chatroom/enter?roomId="+result.roomId;
            }
         })
    }
</script>
</html>