<!DOCTYPE HTML><html th:replace="~{layout/base :: base(~{fragments/headerItems :: search}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">

<div class="container">
    <h3>전체 기부참여 보기</h3><br>
    <div th:onchange="getFilteredPost()">
        <select id="sido" name="sido" class="form-select-inline">
        </select>

        <select id="sgg" name="sgg" class="form-select-inline">
        </select>

        <select id="firstCategory" name="firstCategory" class="form-select-inline">
            <option value="1" selected="selected">외식</option>
            <option value="2">도소매</option>
            <option value="3">서비스</option>
        </select>

        <select id="secondCategory" name="secondCategory" class="form-select-inline">
            <th:block th:each="secondCategory : ${secondCategories}">
                <option th:value="${secondCategory.id}" th:text="${secondCategory.categoryName}" hidden></option>
            </th:block>
        </select><br><br>

        <div th:replace="~{fragments/postTable :: postTable}"></div><br><br>
    </div><br><br>

    <script type="text/javascript" th:src="@{/js/home/selectBoxes.js}"></script>
</div>
</html>