<html xmlns:th="http://www.thymeleaf.org">

<link th:fragment="home" th:href="@{/css/home.css}" rel="stylesheet" />

<link th:fragment="login" th:href="@{/css/login.css}" rel="stylesheet" />
<link th:fragment="mypage" th:href="@{/css/member/mypage.css}" rel="stylesheet" />

<script th:fragment="addPost1" th:src="@{/js/post/addPost1.js}"></script>
<link th:fragment="postList" th:href="@{/css/post/postList.css}" rel="stylesheet" />

<link th:fragment="chatRoomList" th:href="@{/css/chat/chatRoomList.css}" rel="stylesheet" />

<link th:fragment="newCategory" th:href="@{/css/category/categoryPage.css}" rel="stylesheet" />

<th:block th:fragment="chatting">
    <!-- WebSocket -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <!--    <script src="/js/chat_script.js"></script>-->
    <link th:href="@{/css/chat/chatting.css}" rel="stylesheet"/>
</th:block>

<th:block th:fragment="myPage">
    <link th:href="@{/css/member/mypage.css}" rel="stylesheet" />
    <link th:href="@{/css/post/postList.css}" rel="stylesheet" />
</th:block>