<html xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="newPost" class="list-group">
    <th:block th:each="post : ${recentPopularPosts}">
        <li class="post-item list-group-item w-75 mb-1" style="border:1px solid black; border-radius: 5px">
            <div class="row">
                <div class="col-1">
                    <img src="https://sitem.ssgcdn.com/41/48/85/item/1000048854841_i1_1200.jpg"
                         alt="공부방책상" width="70px" height="85px" style="border: 1px solid black">
                </div>
                <div class="col">
                    <h5 th:text="${post.title}">제목</h5>
                    <p th:text="${post.content}">내용</p>
                </div>
            </div>
        </li>
    </th:block>
</ul>