<html xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="newPost" class="list-group">
    <li class="list-group-item w-75 mb-1" style="border:1px solid black; border-radius: 5px">
        <div class="row">
            <div class="col-1">
                <img src="https://sitem.ssgcdn.com/41/48/85/item/1000048854841_i1_1200.jpg"
                     alt="공부방책상" width="70px" height="85px" style="border: 1px solid black">
            </div>
            <div class="col">
                <h5>안녕하세요, 독서대 대량 나눔합니다^^</h5>
                <p>제가 공부방을 운영하다가 사업을 접고 독서대를 나눔하려고 해요. 동해물과 백두산이 마르고 닳도록</p>
            </div>
        </div>
    </li>
    <li class="list-group-item w-75 mb-1" style="border:1px solid black; border-radius: 5px">
        <div class="row">
            <div class="col-1">
                <img src="https://sitem.ssgcdn.com/41/48/85/item/1000048854841_i1_1200.jpg"
                     alt="공부방책상" width="70px" height="85px" style="border: 1px solid black">
            </div>
            <div class="col">
                <h5>안녕하세요, 독서대 대량 나눔합니다^^</h5>
                <p>제가 공부방을 운영하다가 사업을 접고 독서대를 나눔하려고 해요. 동해물과 백두산이 마르고 닳도록</p>
            </div>
        </div>
    </li>
    <li class="list-group-item w-75 mb-1" style="border:1px solid black; border-radius: 5px">
        <div class="row">
            <div class="col-1">
                <img src="https://sitem.ssgcdn.com/41/48/85/item/1000048854841_i1_1200.jpg"
                     alt="공부방책상" width="70px" height="85px" style="border: 1px solid black">
            </div>
            <div class="col">
                <h5>안녕하세요, 독서대 대량 나눔합니다^^</h5>
                <p>제가 공부방을 운영하다가 사업을 접고 독서대를 나눔하려고 해요. 동해물과 백두산이 마르고 닳도록</p>
            </div>
        </div>
    </li>
</ul>