<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="options">
    <select class="form-select-inline" id="region">
        <option value="0">*시/도를 선택하세요.</option>
        <option value="1">서울특별시</option>
        <option value="2">경기도</option>
        <option value="3">부산광역시</option>
    </select>
    <select class="form-select-inline" id="base">
        <option value="0">*시/군/구를 선택하세요.</option>
        <option value="1">서울특별시</option>
        <option value="2">경기도</option>
        <option value="3">부산광역시</option>
    </select>

    <select class="form-select-inline" id="category">
        <option value="0">*업종을 선택하세요.</option>
        <option value="1">서울특별시</option>
        <option value="2">경기도</option>
        <option value="3">부산광역시</option>
    </select>
</div><br>