<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="options">
    <select id="sido" name="sido" class="form-select-inline">
    </select>

    <select id="sgg" name="sgg" class="form-select-inline">
    </select>

    <select class="form-select-inline" id="parentCategories" name="parentId" required th:onchange="getCategories(this)">
        <option>*업종을 선택하세요.</option>
        <div th:each="parentCategory : ${parentCategories}">
            <option th:text="${parentCategory.categoryName}" th:value="${parentCategory.id}"></option>
        </div>
    </select>

    <select class="form-select-inline" id="childrenCategories" name="childrenId">
        <option disabled="disabled" selected="selected">*상세업종</option>
    </select>

</div><br>