<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="options" th:onchange="getSelectedPost(this)">
    <select id="sido" name="sido" class="form-select-inline">
    </select>

    <select id="sgg" name="sgg" class="form-select-inline">
    </select>

    <select class="form-select-inline" id="parentCategories" name="parentId" required th:onchange="getCategories(this)">
        <option value="0">업종 선택</option>
        <div th:each="parentCategory : ${parentCategories}">
            <option th:text="${parentCategory.categoryName}" th:value="${parentCategory.id}"></option>
        </div>
    </select>

    <select class="form-select-inline" id="secondCategory" name="childrenId">
        <option disabled="disabled" selected="selected">상세업종 선택</option>
    </select>

</div><br>