<html xmlns:th="http://www.thymeleaf.org">

<div id="postTable" th:fragment="postTable">

    <div class="row row-cols-4 g-3">
        <div th:each="post : ${posts}" class="col" th:onclick="|location.href='@{/posts/{postId}(postId=${post.id})}'|">
            <div class="card h-100" style="cursor: pointer;">
                <th:block th:if="${post.images.size <= 0}" >
                    <img th:src="@{/images/boxes.png}" class="card-img-top cardImg" alt="..." style="padding: 1vw 2.5vw;">
                </th:block>
                <th:block th:if="${post.images.size > 0}" >
                    <img th:src="@{/images/{img}(img=${post.images[0].storedFilename})}" class="card-img-top cardImg" alt="...">
                </th:block>
                <hr>
                <div class="card-body">
                    <h5 th:text="${post.title}" class="postTitle text-center">제목</h5>
                    <hr>
                    <p th:text="|${post.quantity}개 남음|" class="text-center"></p>
                </div>
            </div>
        </div>
    </div><br><br>

    <nav id="pagination" aria-label="page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item previous" th:classappend="${1 == posts.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" th:href="@{/posts/search(page=${posts.pageable.pageNumber - 1})}" href="#">이전</a>
            </li>
            <li class="page-item page-num" th:classappend="${i == posts.pageable.pageNumber + 1} ? 'disabled'" th:each="i: ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/posts/search(page=${i - 1})}" th:text="${i}"></a>
            </li>
            <li class="page-item next" th:classappend="${posts.totalPages == posts.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/posts/search(page=${posts.pageable.pageNumber + 1})}">다음</a>
            </li>
        </ul>
    </nav>
</div>