<html xmlns:th="http://www.thymeleaf.org">

<ul th:fragment="recentPost" class="list-group tab-pane fade show active tabCon" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="post-item" th:each="post : ${recentPopularPosts}">
        <li class="list-group-item" th:onclick="|location.href='@{/posts/{postId}(postId=${post.id})}'|">
            <div class="row">
                <div class="col-1">
                    <img src="https://sitem.ssgcdn.com/41/48/85/item/1000048854841_i1_1200.jpg"
                         alt="공부방책상" width="70px" height="85px">
                </div>
                <div class="col">
                    <h5 th:text="${post.title}">제목</h5>
                    <p th:text="${post.content}">내용</p>
                </div>
                <div class="col-2">
                    <h6 class="text-end" th:text="|${post.address.sido} ${post.address.sgg}|">시도 시군구</h6><br>
                    <p class="text-end" th:text="|👍${post.recommend}|"></p>
                    <p class="text-end" th:text="|${post.quantity}개 남음|"></p>
                </div>
            </div>
        </li>
    </div>
</ul>

