<html xmlns:th="http://www.thymeleaf.org">

<!-- ul이 한 줄을 차지, 새로운 줄은 ul을 또 만들어야 함 -->
<ul th:fragment="total_item" class="list-group list-group-horizontal">

    <li class="list-group-item m-2" style="width: 300px; height: 350px; border: 1px solid black; border-radius: 5px">
        <div>
            <div class="d-flex justify-content-between">
                <p>고깃집(업종)</p>
                <small>3일전</small>
            </div>
            <h5>고기굽는식탁!</h5>
            <img class="ms-1" src="https://shop4.daumcdn.net/thumb/R500x500/?fname=http%3A%2F%2Fshop4.daumcdn.net%2Fshophow%2Fp%2FX20044838407.jpg%3Fut%3D20221122150556"
                 alt="고깃집식탁" width="100" height="120" style="border:1px solid black">
            <br>
            <p>제가 고기집 망해서 ㅠㅠ..</p><hr>
            <p><span>❤3 views 56</span></p><hr>
            <p>남은 갯수 10/50</p>
        </div>
    </li>
    <li class="list-group-item m-2" style="width: 300px; height: 350px; border: 1px solid black; border-radius: 5px">
        <div>
            <div class="d-flex justify-content-between">
                <p>고깃집(업종)</p>
                <small>3일전</small>
            </div>
            <h5>고기굽는식탁!</h5>
            <img class="ms-1" src="https://shop4.daumcdn.net/thumb/R500x500/?fname=http%3A%2F%2Fshop4.daumcdn.net%2Fshophow%2Fp%2FX20044838407.jpg%3Fut%3D20221122150556"
                 alt="고깃집식탁" width="100" height="120" style="border:1px solid black">
            <br>
            <p>제가 고기집 망해서 ㅠㅠ..</p><hr>
            <p><span>❤3 views 56</span></p><hr>
            <p>남은 갯수 10/50</p>
        </div>
    </li>
    <li class="list-group-item m-2" style="width: 300px; height: 350px; border: 1px solid black; border-radius: 5px">
        <div>
            <div class="d-flex justify-content-between">
                <p>고깃집(업종)</p>
                <small>3일전</small>
            </div>
            <h5>고기굽는식탁!</h5>
            <img class="ms-1" src="https://shop4.daumcdn.net/thumb/R500x500/?fname=http%3A%2F%2Fshop4.daumcdn.net%2Fshophow%2Fp%2FX20044838407.jpg%3Fut%3D20221122150556"
                 alt="고깃집식탁" width="100" height="120" style="border:1px solid black">
            <br>
            <p>제가 고기집 망해서 ㅠㅠ..</p><hr>
            <p><span>❤3 views 56</span></p><hr>
            <p>남은 갯수 10/50</p>
        </div>
    </li>
    <li class="list-group-item m-2" style="width: 300px; height: 350px; border: 1px solid black; border-radius: 5px">
        <div>
            <div class="d-flex justify-content-between">
                <p>고깃집(업종)</p>
                <small>3일전</small>
            </div>
            <h5>고기굽는식탁!</h5>
            <img class="ms-1" src="https://shop4.daumcdn.net/thumb/R500x500/?fname=http%3A%2F%2Fshop4.daumcdn.net%2Fshophow%2Fp%2FX20044838407.jpg%3Fut%3D20221122150556"
                 alt="고깃집식탁" width="100" height="120" style="border:1px solid black">
            <br>
            <p>제가 고기집 망해서 ㅠㅠ..</p><hr>
            <p><span>❤3 views 56</span></p><hr>
            <p>남은 갯수 10/50</p>
        </div>
    </li>
    <li class="list-group-item m-2" style="width: 300px; height: 350px; border: 1px solid black; border-radius: 5px">
        <div>
            <div class="d-flex justify-content-between">
                <p>고깃집(업종)</p>
                <small>3일전</small>
            </div>
            <h5>고기굽는식탁!</h5>
            <img class="ms-1" src="https://shop4.daumcdn.net/thumb/R500x500/?fname=http%3A%2F%2Fshop4.daumcdn.net%2Fshophow%2Fp%2FX20044838407.jpg%3Fut%3D20221122150556"
                 alt="고깃집식탁" width="100" height="120" style="border:1px solid black">
            <br>
            <p>제가 고기집 망해서 ㅠㅠ..</p><hr>
            <p><span>❤3 views 56</span></p><hr>
            <p>남은 갯수 10/50</p>
        </div>
    </li>
</ul>