<!doctype html>
<html th:replace="~{layout/base :: base(~{::div})}" xmlns:th="http://www.thymeleaf.org">
<div class="category-container">
    <div id ="root" >
        <h2 class="page-title">카테고리 등록 페이지</h2>
        <div>
            <form role="form" th:action="@{/categories/new}" method="post">
                <div class="categoryForm-container">

                    <select class="form-control" id="parentCategory" name="parentId" th:onchange="onChangeTest(this)">
                        <option value="0">대분류</option>
                        <div th:each="category : ${categories}">
                            <option class="optionGroup"  th:text="${category.categoryName}" th:value="${category.id}"></option>
        <!--                    <option  class="optionChild" th:each="subCategory : ${category.subCategories}"  th:text="${subCategory.name}" th:value="${subCategory.id}"></option>-->
                        </div>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="childrenId" id="secondCategory" required="required">
                        <option disabled="disabled" selected="selected" > 중분류</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label th:for="categoryName" class="form-label">업종</label>
                    <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary">등록</button>
            </form>

    </div>
    </div>
</div>
<script th:inline="javascript">
    function onChangeTest(category){
        var parentId = category.value;
        const data = {
           parentId:parentId
        };

        $.ajax({
             url: "/categories/second",
             data: data,
             type: "GET",
        }).done(function (data){
            console.log(JSON.stringify(data))
            alert(JSON.stringify(data))
            var html = '<option value="">중분류</option>';
            var len = data.length;
            for ( var i = 0; i < len; i++) {
                html += '<option value="' + data[i].id + '">'+ data[i].categoryName + '</option>';
            }
                html += '</option>';
                $('#secondCategory').html(html);
            });
        }
</script>