<!DOCTYPE html><html th:replace="~{layout/base :: base(~{fragments/headerItems :: home}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">

<div class="container"><br>

    <h3>최근 인기글</h3><br>
    <ul class="list-group tab-pane fade show active tabCon" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="post-item" th:each="post : ${recentPopularPosts}">
            <li class="list-group-item" th:onclick="|location.href='@{/posts/{postId}(postId=${post.id})}'|">
                <div class="row">
                    <div class="col-1">
                        <img th:src="@{images/{name}(name=post1.jpg)}" width="70px" height="85px">
                    </div>
                    <div class="col">
                        <h5 th:text="${post.title}">제목</h5>
                        <p th:text="${post.content}">내용</p>
                    </div>
                    <div class="col-2">
                        <h6 class="text-end" th:text="|${post.address.sido} ${post.address.sgg}|">시도 시군구</h6><br>
                        <p class="text-end" th:text="|👍${post.recommend}|"></p>
                        <p class="text-end" th:text="|${post.quantity}개 남음|"></p>
                    </div>
                </div>
            </li>
        </div>
    </ul><br><br>

    <h3>내 주변 보기</h3>
    <th:block th:if="${member} != null"><input type="hidden" id="memberDoro" th:value="${member.address.doro}" readonly></th:block>
    <div class="d-flex justify-content-center">
        <div id="map" style="width: 600px; height: 500px; border: 2px solid green"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f1ad9b5adce2cf7e772b667dde656195&libraries=services,clusterer"></script>
        <script type="text/javascript" th:inline="javascript">
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            var map = new kakao.maps.Map(document.getElementById('map'), {
                center: new kakao.maps.LatLng(36.38, 127.51),
                level : 13
            });

            var posts = [[${nearPosts}]];

            // 마커 클러스터러를 생성합니다
            var clusterer = new kakao.maps.MarkerClusterer({
                map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                minLevel: 10 // 클러스터 할 최소 지도 레벨
            });

            var markers = posts.map(function(data) {

                geocoder.addressSearch(data.doro, function(result, status) {
                    if(status === kakao.maps.services.Status.OK) {

                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        map.setCenter(coords);
                        map.setLevel(7);

                        var marker = new kakao.maps.Marker({
                            map: map,
                            clickable: true,
                            position: coords
                        });

                        var postId = data.Id;
                        var title = data.title;
                        var iwContent =
                            `<div style="
                                padding:5px;
                                display: inline-block;
                                width: 200px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;">
                                    <a href="/posts/${postId}" target="_blank">${title}</a>
                            </div>`;
                        var infowindow = new kakao.maps.InfoWindow({
                            position : coords,
                            content : iwContent,
                            removable : true
                        });

                        kakao.maps.event.addListener(marker, 'click', function() {
                              infowindow.open(map, marker); // 마커 위에 인포윈도우를 표시합니다
                        });

                        clusterer.addMarker(marker);
                    }
                });
            });

        </script>
    </div><br><br>

    <h3>전체 기부참여 보기</h3><br>
    <div th:onchange="getFilteredPost()">
        <select id="sido" name="sido" class="form-select-inline">
        </select>

        <select id="sgg" name="sgg" class="form-select-inline">
        </select>

        <select id="firstCategory" name="firstCategory" class="form-select-inline">
            <option value="0" selected="selected">업종 전체</option>
            <option value="1">외식</option>
            <option value="2">도소매</option>
            <option value="3">서비스</option>
        </select>

        <select id="secondCategory" name="secondCategory" class="form-select-inline">
            <option value="0" selected="selected">(업종 전체)</option>
            <th:block th:each="secondCategory : ${secondCategories}">
                <option th:value="${secondCategory.id}" th:text="${secondCategory.categoryName}" hidden></option>
            </th:block>
        </select><br><br>

        <div th:replace="~{fragments/filtered :: filtered}"></div><br><br>

        <nav id="pagination" class="d-flex justify-content-center" aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div><br><br>
    <script type="text/javascript" th:src="@{/js/home/selectBoxes.js}"></script>
</div>
</html>